section{
    display: flex;
    flex-wrap: wrap;
    width: 50em;
    height: 37.50em;

}



.card_MaisVendidos{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.card_MaisVendidos_imagem{
    background-color: #F7F8F8;
    width: 11.56em;
    height: 11.56em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_MaisVendidos_preco {

    width: 100%;
    margin: 5% 20%;
}




.card_MaisVendidos_adicionaraocarrinho{
    background-color: #F7CA00;
    padding: 1.8%;
    border-radius: 0.31em;
    text-align: center;
}

.card_MaisVendidos:hover{
    opacity: 100%;
    cursor: pointer;
}
