.div-footer{
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-opcoes{
    display: flex;
    flex-direction: row;
}


.footer-opcoes span{
    justify-content: space-evenly;
    margin: 0 6rem;
    padding: 1rem;
    color: white;
}



